* {
  padding: 0;
  margin: 0;
  color: #2e3e48;
}

html {
  font-size: 62.5%; /*1 rem is equals to 10px divide by 16px the default browser size*/

}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

/*HEADER SECTION*/
.header {
background-color:#2c632c;
height: 70vh;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;

}

#item{
padding: 0;
margin: 3rem;
background-color: #2c632c;

}

#item2{
  height: 40rem;
}

.header__img-box {
  position: relative;
  top:14rem;
}

.header__img{
  width: 57rem;
  height: 33rem;
  border-radius: .8rem;
}

.header__heading-container{
  position: relative;
  width: 40rem;
  top:37%;
  background-color: #2c632c;
}

/* SECTION COMMUNITY*/

.text-supporting {
  color: #828282;
}

.gallery {
  background: rgba(200, 254, 200, 0.2); /*#C8FEC8*/
  padding: 75px;
}

.involve {
  background: #ffffff;
  padding: 100px 0;
  text-align: center;
}

/*SECTION GALLERY*/

.gallery-title,
.involve-title {
  margin-bottom: 45px;
  color: #006400;
  text-align: center;
}

.gallery-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}

.gallery-grid-leftCol {
  justify-self: end;
}

.gallery-grid-rightCol {
  justify-self: start;
}

.card {
  border-radius: 5px;
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
  background: white;
  width: 435px;
  margin: 25px;
}

.card-photo {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.card-text {
  padding: 5px 0 5px 0;
}

.card-secondary-text {
  font-size: 0.8em;
}

.card-text-container {
  padding: 10px 25px 15px 25px;
}

.map-icon {
  position: relative;
  top: 2px;
}

.message {
  width: 600px;
  margin: 50px auto;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #2e3e48;
}

.button-primary {
  background: #006400;
  border-radius: 5px;
  padding: 12px 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: 300ms ease all;
  display: inline-block;
}

.button-primary:hover {
  background: #004200;
}

.community {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.community-title {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 3rem;
  color: #006400;
  text-align: center;
}

.community-text {
  color: #2e3e48;
  font-weight: 100;
  line-height: 1.75rem;
  padding-left: 18rem;
  padding-right: 18rem;
  text-align: center;
  margin-bottom: 3rem;
}

.community-btn {
  display: flex;
  justify-content: center;
}

.community-btn a {
  background-color: #006400;
  font-size: 0.75rem;
  font-weight: 900;
  border-radius: 5px;
  color: white;
  padding: 0.75rem 0.9rem;
  text-decoration: none;
  text-align: center;
}
